<div class="container">
  <div class="drawing-board">
    <h3>Draw a number between <strong class="highlight">0</strong> to <strong class="highlight">9</strong></h3>
    <div class="wrapper">
      <canvas appDrawable (newImage)="predict($event)"></canvas><br>
    </div>
    <button class="btn btn-lg btn-primary" onclick="window.location.reload()">Erase</button>
  </div>
  <div class="prediction">
    <h3>Predicted number: <strong class="highlight">{{ predictedNumber }}</strong></h3>
  </div>
  <footer>
    <p>
      Made by <a class="highlight" href="http://aaronhma.com/" target="_blank">Aaron Ma</a>
    </p>
  </footer>
</div>
